name: Build ImmortalWrt with hominsu action

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Build ImmortalWrt
      uses: hominsu/immortalwrt-builder-action@v1.0.4
      with:
        target: "mediatek"
        subtarget: "filogic"
        profile: "abt_asr3000"
        feeds_conf: |
          src-git passwall https://github.com/xiaorouji/openwrt-passwall
          src-git passwall_packages https://github.com/xiaorouji/openwrt-passwall-packages
        custom_files: "./files"
        default_ip: "192.168.33.1"
        wifi_name: "djhons"
        wifi_password: "djhons123"
        login_password: "djhons123"
